extends layout

block content
   .About_us
    .container
         .row
            .col-md-4
            .col-md-4
               h2(class="whatWedoo" style="font-weight: bold;")=title
            .col-md-4 
         
    .container
        h2
          u(class="who") Who we are?
        P We are professionals and passionate people in different fields of Computer technology. For our skills, we are happy to serve community and provide the best services and products that individuals, entrepreneurs, businesses, institutes, organizations, companies can dream of getting them. It is our dream to see the above mentioned groups reach out their goals.
        
        .Our_vision.About_us
           .row
              .col-md-4
              .col-md-4
                h2(style="font-weight: bold;" class="whatWedoo") OUR VISION 
              .col-md-4 
           p We are professionals and passionate people in different fields of Computer technology. For our skills, we are happy to serve community and provide the best services and products that individuals, entrepreneurs, businesses, institutes, organizations, companies can dream of getting them. It is our dream to see the above mentioned groups reach out their goals. 
           .row
              .col-md-4
              .col-md-4
                  img(src="/images/VISION.png" style="width: 95%;")
              .col-md-4 
            
        .Our_mission.Our_vision
           .row
              .col-md-4
              .col-md-4
                h2(style="font-weight: bold;" class="whatWedoo") OUR MISSION
              .col-md-4 
           p We are professionals and passionate people in different fields of Computer technology. For our skills, we are happy to serve community and provide the best services and products that individuals, entrepreneurs, businesses, institutes, organizations, companies can dream of getting them. It is our dream to see the above mentioned groups reach out their goals.    
           .row
              .col-md-4
              .col-md-4
                  img(src="/images/MISSION.png" style="width: 95%;")
              .col-md-4 
