doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-compatible" content="ie-edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
  body
    header
      nav 
        a(href="/#")
          img#logo(src="/images/Nembo.jpg")
        ul
       
          if !user 
            li
              a(href="/sign-up/#signUp" class='button_continue') sign up
            li
              a(href="/login/#Paul" class='button_continue') login 
          else 
            li
              a(href="/my-account/" class='button_continue') my booking/ acccount   
            li
              a(href="/logout" class='button_continue') logout (#{user.first_name})

      .search_nav
        form(action="/results" method="POST")
          .input_wrapper
             label(for="destination") Destination
             input(type="text" id="destination" name="destination" required) 
          .input_wrapper
             label(for="duration") Duration (nights)
             input(type="text" id="duration" name="duration" required) 
          .input_wrapper
             label(for="dateOfDeparture") Departure date
             input(type="date" id="dateOfDeparture" name="dateOfDeparture" required)
          .input_wrapper
             label(for="number-guests") Number of guests
             input(type="text" id="number-guests" name="numberOfGuests" required) 

          .input_wrapper
             select(name="stars")
               option(value="1") Min 1 star   
               option(value="2") Min 2 star  
               option(value="3") Min 3 star   
               option(value="4") Min 4 star  
               option(value="5") Min 5 star

          .input_wrapper
             select(name="sort")
               option(value="1") Price: Low - High    
               option(value="-1") Price: High - Low
               

          .input_wrapper
             button(type="submit") 
               span( id="buttonWord" ) SEARCH!

      - const values = Object.values(flash)
      - const keys = Object.keys(flash)
        if keys.length > 0   
          div(class=`message message_${keys}`)
            span= values
            span.close_btn(onclick="this.parentNode.remove()") &times;
      
      img(src="/images/beach.jpg")    
                      
    block content

    //- value of 1 will return data in ascending order -1 inverse

//- 58 conditional rendering if are need to be shown keys must be greater than 0 || class message 1 for styling
