mixin footer
                  
    footer
        .container-fluid.bg-dark
          .row.footer-text
              .col-md-4
                    h4(style="font-weight: bold;") Navigation
                    ul
                        li 
                          a(href="/") Home
                        li 
                          a(href="/") About us
                        li 
                          a(href="/") Our services
                        li 
                          a(href="/") lates News
                    h4(style="font-weight: bold;") Contact us
                    ul
                        li 
                          a(href="Tel:+255 766 317 761") Mobile: +255 766 317 761
                        li 
                          a(href="Tel:+255 766 317 761") Mobile: +255 653 408 335
                        li 
                          a(href="mailto:rejictechnovaz@gmail.com") Email: rejictechnovaz@gmail.com  
              .col-md-4
                    h4(style="font-weight: bold;") Opening hours
                    ul
                        li Monday - Friday: 8:00 - 18:00
                        li Saturday: 8:00 - 17:00
                    h4(style="font-weight: bold;") Connect with us
                    lu
                        li 
                          a(href="https://www.instagram.com/rejic_technovaz" target="_blank"  class="fa fa-instagram")
                        li  
                          a(href="https://www.facebook.com/rejictechnovaz" target="_blank" class="fa fa-facebook") 
                        li   
                          a(href="https://www.instagram.com/rejic_technovaz" target="_blank" class="fa fa-twitter") 
              .col-md-4
                  h4(style="font-weight: bold;") Need any of our service
                  
                  //- each service in allServices
                  //-     .footer_service
                  //-       a(href=`/all/${service._id}`) 

                  //-        .footer_service
                  //-           img(src=`/images/${service.service_icon}` class="footer_service" class="image-align") 
                  //-        .footer_service
                  //-           h5(class="footer_service")=`${service.service_name}`
        .copywrite_wrapper.container-fluid
           .copywrite_text
             a(href="/")
              p &copy Copyrights 2021 Rejic Technovaz Limited || All rights are reserved
              
    



                
                     


                                
                  
                  

      


                    









  
                  


                            